{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h2>Welcome {{ user.username }} 👋</h2>

<p>You are logged in to the Local Service Finder.</p>

<a href="/requests/request/" class="btn btn-primary">
Request a Service
</a>

{% else %}

<h2>Welcome to Local Service Finder</h2>

<p>Please login or register to continue.</p>

<a href="/accounts/login/" class="btn btn-success">Login</a>
<a href="/accounts/register/" class="btn btn-primary">Register</a>

{% endif %}

{% endblock %}