<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Local Service Finder</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="requests/request">Request Service</a>
        </li>

       {% if user.is_authenticated %}

    {% if user.provider %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'edit_provider' %}">Edit Provider Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'provider_dashboard' %}">Provider Dashboard</a>
        </li>
    {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'become_provider' %}">Provide Service</a>
        </li>
    {% endif %}

    {% if user.is_authenticated and not user.provider %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'customer_requests' %}">My Requests</a>
</li>
{% endif %}

    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>

{% else %}

    <li class="nav-item">
      <a class="nav-link" href="/accounts/register/">Register</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/accounts/login/">Login</a>
    </li>

{% endif %}

      </ul>
    </div>
  </div>
</nav>