{% extends "base.html" %}
{% block content %}
 
<h2 class="text-primary">My Profile</h2>

<form method="POST" enctype="multipart/form-data" class="p-4 mb-4  bg-light rounded shadow-sm" style="max-width:500px; ">
    {% csrf_token %}
    <label>Phone:</label>
    <input type="text" name="phone" value="{{ provider.phone }}" class="form-control mb-2">

    <label>Location:</label>
    <input type="text" name="location" value="{{ provider.location }}" class="form-control mb-2">

  
    <button type="submit" name="update_profile" class="btn btn-success">Update Profile</button>
</form>

<h2 class="text-primary">Add Service</h2>
<form method="POST" class="p-4 mb-4 bg-light rounded shadow-sm" style="max-width:500px;">
    {% csrf_token %}
      <label>Select a Service</label>
    <select name="service_id" class="form-select mb-3">
        <option value="">-- Choose a service --</option>
        {% for svc in all_services %}
            <option value="{{ svc.id }}">{{ svc.name }}</option>
        {% endfor %}
    </select>
    
    <textarea name="description" placeholder="Description (optional)" class="form-control mb-2"></textarea>
    <button type="submit" class="btn btn-primary">Add Service</button>
</form>

<h2 class="text-primary">Manage My Services</h2>
{% for service in provider.services.all %}
<div class="p-3 mb-3 bg-secondary text-white rounded shadow-sm d-flex justify-content-between align-items-center " style="width: 500px; ">
    <div>
        <strong>{{ service.name }}</strong><br>
        <small>{{ service.description }}</small>
    </div>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="delete_id" value="{{ service.id }}">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
</div>

{% empty %}
<p>No services added yet.</p>
{% endfor %}

{% endblock %}